<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1">  
	<title>Document</title>
	<script type="text/javascript" src='scripts/setFontsize.js'></script>
	<link rel="stylesheet" type="text/css" href="hh_style/reset.css">
	<link rel="stylesheet" type="text/css" href="hh_style/hh-header.css">
	<link rel="stylesheet" type="text/css" href="hh_style/detail.css">
	<link rel="stylesheet" type="text/css" href="hh_style/history-progress.css">
	<link rel="stylesheet" type="text/css" href="hh_style/gotop.css">
</head>
<body>

	<div class="gotop" id="gotop">
		<span>阴影</span>
		<img src='images/gotop.png'>
	</div>

	<header class="hh-header">
		<div class="hh-group left-group">
			<a href="#">
				<span>返回</span>
				<i><img src='images/header-back.png'></i>
			</a>
		</div>
		<h1>
			<span>海航科技</span>
			<a href="#">
				<img src='images/logo.png'>
			</a>
		</h1>
		<div class="hh-group right-group">
			<a href="#">
				<span>菜单</span>
				<i><img src='images/header-menu.png'></i>
			</a>
		</div>
	</header>
	
	<div class="project-main">

		<div class="project-base-info">
			<h2 class="item-tit">
				<span class='xiangmu'>项目基础配置信息</span>
				<!-- <span class='name'><i><img src='images/project-item-head.png'></i>&nbsp;张三</span> -->
			</h2>
			<div class="item-content">
				<ul class="project-content-list project-content-list-left">
					<li>
						<p class='p-one'>
							<i><img src='images/same-department.png'></i><span class='smal-one'>&nbsp;合作方&nbsp;&nbsp;&nbsp;</span>
						</p>
						<p class='p-two'>文思海辉</p>
					</li>
					<li>
						<p class='p-one'>
							<i><img src='images/sha-box.png'></i><span class='smal-two'>&nbsp;持股比例</span>
						</p>
						<p class='p-two'>10%</p>
					</li>
					<li>
						<p class='p-one'>
							<i><img src='images/sha-box.png'></i><span class='smal-three'>&nbsp;地区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						</p>
						<p class='p-two'>境内</p>
					</li>
					<li>
						<p class='p-one'>
							<i><img src='images/wait.png'></i><span class='smal-four'>&nbsp;责任单位</span>
						</p>
						<p class='p-two'>文思海辉</p>
					</li>
				</ul>
				<ul class="project-content-list project-content-list-right">
					<li>
						<p class='p-one'>
							<i><img src='images/same-department.png'></i><span class='smal-one'>&nbsp;行业&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						</p>
						<p class='p-two'>文思海辉</p>
					</li>
					<li>
						<p class='p-one'>
							<i><img src='images/sha-box.png'></i><span class='smal-two'>&nbsp;项目来源</span>
						</p>
						<p class='p-two'>10%</p>
					</li>
					<li>
						<p class='p-one'>
							<i><img src='images/sha-box.png'></i><span class='smal-three'>&nbsp;是否为上市公司</span>
						</p>
						<p class='p-two'>境内</p>
					</li>
					<li>
						<p class='p-one'>
							<i><img src='images/wait.png'></i><span class='smal-four'>&nbsp;责任负责人</span>
						</p>
						<p class='p-two'>文思海辉</p>
					</li>
				</ul>
			</div>
		</div>

		<div class="project-base-info">
			<h2 class="item-tit">
				<span class='xiangmu'>配套以及财务基础信息</span>
				<!-- <span class='name'><i><img src='images/project-item-head.png'></i>&nbsp;张三</span> -->
			</h2>
			<div class="item-content">
				<h3 class="zijin-tit">
					<i class="one"></i>
					<p>&nbsp;&nbsp;项目资金构成&nbsp;:&nbsp;<span>自由资金<b><i>--.-</i>万</b></span></p>
				</h3>
				<ul class="finance-list">
					<li class="finance-item">
						<p class="p-one">融资金额<small>(万元)</small></p>
						<p class='p-two'>--.-</p>
					</li>
					<li class="finance-item">
						<p class="p-one">融资成本<small>(万元)</small></p>
						<p class='p-two'>--.-</p>
					</li>
					<li class="finance-item">
						<p class="p-one">投资规模<small>(万元)</small></p>
						<p class='p-two'>--.-</p>
					</li>
					<li class="finance-item">
						<p class="p-one">企业估值<small>(万元)</small></p>
						<p class='p-two'>--.-</p>
					</li>
					<li class="finance-item">
						<p class="p-one">标的收入<small>(万元)</small></p>
						<p class='p-two'>--.-</p>
					</li>
					<li class="finance-item">
						<p class="p-one">标的利润率<small>(万元)</small></p>
						<p class='p-two'>--.-</p>
					</li>
					<li class="finance-item">
						<p class="p-one">累计付款<small>(万元)</small></p>
						<p class='p-two'>--.-</p>
					</li>
					<li class="finance-item">
						<p class="p-one">剩余款项<small>(万元)</small></p>
						<p class='p-two'>--.-</p>
					</li>
				</ul>
				<div class="zijin-tit zijin-thinking">
					<i class="one"></i>
					<p>&nbsp;&nbsp;项目介绍以及运作思路</p>
					<p class="thinking-content">
						。。。。。。。。。。。。没有数据
					</p>
				</div>
			</div>
		</div>

		<div class="project-base-info">
			<h2 class="item-tit">
				<span class='xiangmu'>最新进展</span>
				<!-- <span class='name'><i><img src='images/project-item-head.png'></i>&nbsp;张三</span> -->
			</h2>	
			<div class="item-content latest-progress">
				<p>
					。。。。。。。。。。。。没有数据	 
				</p>
			</div>
		</div>

		<div class="project-base-info">
			<h2 class="item-tit">
				<span class='xiangmu'>历史进程</span>
				<!-- <span class='name'><i><img src='images/project-item-head.png'></i>&nbsp;张三</span> -->
			</h2>
			<div class="item-content history-progress">
				<div class="vertical-line"></div>
				
				<script type="text/template" id="history-pro">
					<ul class="history-list" id='history-list'>
						<% for(var i in historyPro){ %>
							<% if(historyPro[i].header){ %>
							<li class='history-item head'>
								<h4 class="qiatan-tit">
									<span><%= historyPro[i].header %></span>
									<div class="ttq"><div class="white-in"></div></div>
								</h4>
								<div class="history-item-content">
									<div class="horizontal-line"></div>
									<div class="ball"></div>
									<div class="information">
										<h5 class="infor-tit">
											<%= historyPro[i].slot_name %>
										</h5>
										<p class="applicant"><%= historyPro[i].people %>：<%= historyPro[i].user_name %></p>
										<p class="date">时间：<%= historyPro[i].date_decission %></p>
										<p class="download">
												<% if(historyPro[i].is_print==1){ %>
													<% if(historyPro[i].slot_id==15 || historyPro[i].slot_id==29){ %>
														<a href="http://<%= ip %>/Interfaces/IndexApi/downLoad/cirid/<%= historyPro[i].circulation_form_id %>/proid/<%= historyPro[i].project_id %>/slotid/<%= historyPro[i].slot_id %>">决议表下载</a>
													<% }else{ %>
														<a href="http://<%= ip %>/Interfaces/IndexApi/downLoad/cirid/<%= historyPro[i].circulation_form_id %>/proid/<%= historyPro[i].project_id %>/slotid/<%= historyPro[i].slot_id %>">申请表下载</a>
													<% } %>
												<% } %>
												<% if(historyPro[i].slot_id==6){ %>
													<% _(data.more_book).map(function(value,index){ %>
														<a href="http://<%= ip %>/Interfaces/IndexApi/downLoad1/slotid/6/cirid/<%= data.cirid %>/input_field_id/35/fv_id/<%= data.more_book[index].id %>">合作意向书<% index+1 %></a>
													<% }) %>
												<% } %>
												<% if(historyPro[i].slot_id==19){ %>
													<a href="http://<%= ip %>/Interfaces/IndexApi/downLoad1/slotid/19/cirid/<%= data.cirid %>/input_field_id/70/fv_id/">财务尽调报告</a>
													<a href="http://<%= ip %>/Interfaces/IndexApi/downLoad1/slotid/19/cirid/<%= data.cirid %>/input_field_id/71/fv_id/">法务尽调报告</a>
													<a href="http://<%= ip %>/Interfaces/IndexApi/downLoad1/slotid/19/cirid/<%= data.cirid %>/input_field_id/72/fv_id/">业务尽调报告</a>
												<% } %>
												<% if(historyPro[i].slot_id==20){ %>
													<a href="http://<%= ip %>/Interfaces/IndexApi/downLoad1/slotid/20/cirid/<%= data.cirid %>/input_field_id/73/fv_id/">操作方案</a>
													<a href="http://<%= ip %>/Interfaces/IndexApi/downLoad1/slotid/20/cirid/<%= data.cirid %>/input_field_id/74/fv_id/">合同信息</a>
													<a href="http://<%= ip %>/Interfaces/IndexApi/downLoad1/slotid/20/cirid/<%= data.cirid %>/input_field_id/75/fv_id/">项目可行性分析报告</a>
													<% _(data.more_other).map(function(value,index){ %>
														<a href="http://<%= ip %>/Interfaces/IndexApi/downLoad1/slotid/20/cirid/<%= data.cirid %>/input_field_id/76/fv_id/<%= data.more_other[index].id %>">其他资料<%= index+1 %></a>
													<% }) %>
												<% } %>
												<% if(historyPro[i].slot_id==33){ %>
													<% _(data.more_hetong_other).map(function(value,index){ %>
														<a href="http://<%= ip %>/Interfaces/IndexApi/downLoad1/slotid/33/cirid/<%= data.cirid %>/input_field_id/35/fv_id/<%= data.more_hetong_other[index].id %>">合同信息附件<% index+1 %></a>
													<% }) %>
												<% } %>
											</p>
									</div>
								</div>
							</li>
							<% }else{ %>
								<li class='history-item history-item-process'>
										<div class="horizontal-line"></div>
										<div class="ball"></div>
										<div class="information">
											<h5 class="infor-tit">
												<%= historyPro[i].slot_name %>
											</h5>
											<p class="applicant"><%= historyPro[i].people %>：<%= historyPro[i].user_name %></p>
											<p class="date">时间：<%= historyPro[i].date_decission %></p>
											<p class="download">
												<% if(historyPro[i].is_print==1){ %>
													<% if(historyPro[i].slot_id==15 || historyPro[i].slot_id==29){ %>
														<a href="/Interfaces/IndexApi/downLoad/cirid/<%= historyPro[i].circulation_form_id %>/proid/<%= historyPro[i].project_id %>/slotid/<%= historyPro[i].slot_id %>">决议表下载<% parseInt(i+1) %></a>
													<% }else{ %>
														<a href="/Interfaces/IndexApi/downLoad/cirid/<%= historyPro[i].circulation_form_id %>/proid/<%= historyPro[i].project_id %>/slotid/<%= historyPro[i].slot_id %>">申请表下载<% parseInt(i+1) %></a>
													<% } %>
												<% } %>
												<% if(historyPro[i].slot_id==6){ %>
													<% _(data.more_book).map(function(value,index){ %>
														<a href="javascript:downLoad(6,data.cirid,35,data.more_book[id6].id)">合作意向书<% index+1 %></a>
													<% }) %>
												<% } %>
												<% if(historyPro[i].slot_id==19){ %>
													<a href="javascript:downLoad(19,data.cirid,70)">财务尽调报告</a>
													<a href="javascript:downLoad(19,data.cirid,71)">法务尽调报告</a>
													<a href="javascript:downLoad(19,data.cirid,72)">业务尽调报告</a>
												<% } %>
												<% if(historyPro[i].slot_id==20){ %>
													<a href="javascript:downLoad(20,data.cirid,73)">操作方案</a>
													<a href="javascript:downLoad(20,data.cirid,74)">合同信息</a>
													<a href="javascript:downLoad(20,data.cirid,75)">项目可行性分析报告</a>
													<% _(data.more_other).map(function(value,index){ %>
														<a href="javascript:void(0);" onclick="downLoad(20,data.cirid,76,data.more_other[index].id)">其他资料<%= index+1 %></a>
													<% }) %>
												<% } %>
												<% if(historyPro[i].slot_id==33){ %>
													<% _(data.more_hetong_other).map(function(value,index){ %>
														<a href="javascript:downLoad(6,data.cirid,35,data.more_hetong_other[index].id)">合同信息附件<% index+1 %></a>
													<% }) %>
												<% } %>
											</p>
									</div>
								</li>
							<% } %>
						<% } %>
					</ul>
				</script>

				
			</div>
		</div>

	</div>
	<script>
		

	</script>
	<script type="text/javascript" src='scripts/jquery.js'></script>
	<script type="text/javascript" src='scripts/underscore.js'></script>
	<script type="text/javascript" src='scripts/common.js'></script>
	<script type="text/javascript" src='scripts/detail.js'></script>
	<script type="text/javascript" src='scripts/gotop.js'></script>

</body>
</html>